<!-- TODO ! HERE Edit here in order to add all the lnks as needed! former index ejs to backlink ejs -->

<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>

  <%- include('head/load-backend-variables/variables.ejs') %>

  <%- include('head/head-common-part1.ejs') %>

  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/schema-loader/schema.ejs') %>


  <%- include('head/meta/meta-lang-loader.ejs') %>

  <%- include('head/alt-lang-page-setter/alt-lang-page.ejs') %>
</head>







<body>
  <div id="body">



    <%- include('body/nav.ejs') %>










    <!-- Welcome Section -->

    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section.banner_img_path %>"
      alt="<%= welcome_section.banner_img_alt %>">

      <%- include('body/welcome-section/part1.ejs') %>









      <div class="tm-bg-black-transparent tm-welcome-container">

        <div class="container-fluid">
          <div class="row h-100">

            <%- include('body/welcome-section/part2.ejs') %>

          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->






    <!-- Portfolio section -->
    <section id="tmPortfolio">

      <div style="max-width: 2000px; justify-self: center;">
        <div class="row" style="justify-content: center;">



          <div class="col-12 spacing">


            <!-- -- -->
            <div>
              <style>
                h1 {
                  text-align: center;
                }
                div > ul {
                  display: flex;
                  flex-wrap: wrap;
                  list-style: none;
                  padding: 0;
                  gap: 10px;
                  justify-content: center;
                }
                div > ul > li {
                  width: 35ch;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 0.9em;
                }
              </style>

              <div>
                <h1><%= index_page_data.all_data_per_page.title %></h1>
                <ul>
                  <% urls.forEach(url => { %>
                    <li><a href="<%= url %>"><%= url %></a></li>
                  <% }); %>
                </ul>
              </div>
            </div>


          </div>



        </div>
      </div>





  </div>


  <%- include('footer/footer.ejs') %>




  </body>


</html>